<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Cards Cards_refresh" th:fragment="pool(bookList)">
    <!--/*@thymesVar id="book" type="com.example.MyBookShopApp.data.Book"*/-->
    <div class="Card" th:each="book : ${bookList}">
        <div class="Card-picture"><a href="#" th:href="${book.id}"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
            <div class="Card-sale" th:if="${book.discount} > 0">30% скидка
            </div>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#" th:text="${book.title}">Английский язык. 5 класс. Английский в фокусе. Рабочая тетрадь.
                ФГОС</a>
            </strong>
            <div class="Card-description" th:text="${book.author}">Ваулина, Дули, Подоляко
            </div>
            <div class="Card-cost"><span class="Card-priceOld" th:text="${book.priceOld}">₽250.00</span><span class="Card-price" th:text="${book.price}">₽210.00</span>
            </div>
        </div>
    </div>
    <div class="Cards-footer Cards-footer_center"><a class="btn btn_primary" href="#" th:attr="data-refreshshow = ${category}" data-refreshshow="recent"
                                                     data-refreshoffset="20" data-refreshlimit="20">Показать еще</a>
    </div>
</div>
</html>